/* Estilos para la carta de explicación */

.titulo-pensamientos {
    color: #B65598 ; /* Color de texto deseado */
    margin-bottom: 25px;
}

.explanation-card {
    background-image: url('https://images.pexels.com/photos/1196312/pexels-photo-1196312.jpeg');
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 65px; /* Aumentar el padding para hacer la tarjeta más grande */
}

/* Estilos para el texto dentro de la carta de explicación */
.explanation-card .card-title {
    color: #F5F2FF;
    font-size: 24px; /* Ajustar el tamaño del título si es necesario */
    margin-bottom: 20px; /* Ajustar el espacio entre el título y el texto */
    font-weight: bold;
}

.explanation-card .card-text {
    color: #F5F2FF;
    font-size: 16px; /* Ajustar el tamaño del texto si es necesario */
    text-align: left;
    margin-right: 300px;
    
}

.card-body{
     color: #B65598 ;
     background-color:  #F5F2FF;
}
.custom-card {
    margin-bottom: 150px;
    border: 2px solid #B65598; /* Nuevo color del borde morado */
    box-shadow: 0px 0px 10px 0px #B65598; /* Nueva sombra morada */
}


/* Estilos para los campos de checkbox */
.custom-checkbox .checkbox-label {
    margin-left: 5px;
    
}



/* Estilos para el botón de guardar */

.btn-success:hover {
    color: #F5F2FF !important;
    background-color: #c973b3 !important;
    border-color: #c973b3 !important;
}

.btn-success{
    color: #F5F2FF !important;
    background-color: #c973b3 !important;
    border-color: #c973b3 !important;
}


/*tamaño del checkbox*/
.custom-checkbox {
    transform: scale(1.5); /* Ajusta el valor según el tamaño deseado */
    margin-right: 20px;
}


.text-center {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center !important;
}

.text-center {
    text-align: center !important;
}


